streamlit
uvicorn
fastapi
langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langgraph-supervisor
dotenv
pydantic
typing
sentence-transformers
wikipedia
